<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="puzzlebot_base" params="prefix">

    <link name="${prefix}base_footprint"/>

    <!-- ================= BASE LINK ================= -->
    <link name="${prefix}base_link">

      <!-- Visual -->
      <visual>
        <origin xyz="-0.052 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://puzzlebot_description/meshes/Puzzlebot_Jetson_Lidar_Edition_Base(1).stl"
                scale="1 1 1"/>
        </geometry>

        <material name="white">
          <color rgba="1.0 1.0 1.0 1.0"/>
        </material>
      </visual>

      <!-- Collision -->
      <collision>
        <origin xyz="-0.052 0 0.05" rpy="0 0 0"/>
        <geometry>
          <box size="0.20 0.14 0.10"/>
        </geometry>
      </collision>

      <!-- Inercia corregida -->
      <inertial>
        <origin xyz="-0.02 0 -0.02"/>

        <mass value="3.5"/>

        <inertia
          ixx="0.06" ixy="0.0" ixz="0.0"
          iyy="0.08" iyz="0.0"
          izz="0.10"/>
      </inertial>

    </link>

    <!-- Joint base -->
    <joint name="${prefix}base_link_joint" type="fixed">
      <parent link="${prefix}base_footprint"/>
      <child link="${prefix}base_link"/>
      <origin xyz="0.052 0 0.07" rpy="0 0 0"/>
    </joint>

    <!-- ================= LEFT WHEEL ================= -->
    <link name="${prefix}wheel_l_link">

      <visual>
        <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="package://puzzlebot_description/meshes/Puzzlebot_Wheel.stl"
                scale="1 1 1"/>
        </geometry>

        <material name="gray">
          <color rgba="0.2 0.2 0.2 1.0"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        <geometry>
          <cylinder radius="0.05" length="0.02"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="0.2"/>

        <inertia
          ixx="0.0002" ixy="0.0" ixz="0.0"
          iyy="0.0002" iyz="0.0"
          izz="0.0002"/>
      </inertial>

    </link>

    <!-- Fricción -->
    <gazebo reference="${prefix}wheel_l_link">
      <mu1>10.0</mu1>
      <mu2>10.0</mu2>
    </gazebo>

    <joint name="${prefix}wheel_l_joint" type="continuous">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}wheel_l_link"/>

      <origin xyz="0.00 0.095 0.0" rpy="0 0 0"/>

      <axis xyz="0 1 0"/>
    </joint>

    <!-- ================= RIGHT WHEEL ================= -->
    <link name="${prefix}wheel_r_link">

      <visual>
        <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="package://puzzlebot_description/meshes/Puzzlebot_Wheel.stl"
                scale="1 1 1"/>
        </geometry>

        <material name="gray">
          <color rgba="0.2 0.2 0.2 1.0"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        <geometry>
          <cylinder radius="0.05" length="0.02"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="0.2"/>

        <inertia
          ixx="0.0002" ixy="0.0" ixz="0.0"
          iyy="0.0002" iyz="0.0"
          izz="0.0002"/>
      </inertial>

    </link>

    <!-- Fricción -->
    <gazebo reference="${prefix}wheel_r_link">
      <mu1>10.0</mu1>
      <mu2>10.0</mu2>
    </gazebo>

    <joint name="${prefix}wheel_r_joint" type="continuous">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}wheel_r_link"/>

      <origin xyz="0.00 -0.095 0.0" rpy="0 0 0"/>

      <axis xyz="0 1 0"/>
    </joint>

    <!-- ================= CASTER ================= -->
    <link name="${prefix}caster_link">

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://puzzlebot_description/meshes/Puzzlebot_Caster_Wheel.stl"
                scale="1 1 1"/>
        </geometry>

        <material name="black">
          <color rgba="0.0 0.0 0.0 1.0"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.015"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="0.05"/>

        <inertia
          ixx="0.00001" ixy="0.0" ixz="0.0"
          iyy="0.00001" iyz="0.0"
          izz="0.00001"/>
      </inertial>

    </link>

    <joint name="${prefix}caster_joint" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}caster_link"/>

      <origin xyz="-0.147 0 -0.045" rpy="0 0 0"/>
    </joint>

  </xacro:macro>

</robot>